$color_primary: #029491;
$color_primary_dark: #000000;
$color_primary_light: #FFFFFF;

$color_secondary: #FFB64F;
$color_secondary_light: #7CE3E1;
$color_secondary_dark: #5970FF;
$color_error: #FF5959;

$bg_color_primary: #FFFFFF;

$border_color_primary: #C7C7C7;

$box-shadow-error: rgba(255, 89, 89, .2);

$main_beginner: #FFB64F;
$main_pro: #7CE3E1;
$main_business: #000000;


$b_radius_medium: 10px;