.error {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.text_field {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;

    & > span {
        //flex-shrink: 0;
        margin-right: 10px;
    }
}

.input {
    width: 100%;
}
